.white{
    background: linear-gradient(to right, #333336, #171718);
    color: #f2f2f7;
}

.white .cabecera {
    background: linear-gradient(to right, #333336, #171718);
}

.white .fin{
    background: linear-gradient(to right, #333336, #171718);
}

.white footer{
    background: linear-gradient(to right, #333336, #171718);
}

.cambio {
    display: flex;
    flex-direction: row;
    float: inline-end;
    width: 300px;
    height: 50px;
    align-items: center;
    padding: 0 0px 0 70px;
    margin-right: 20px;
    text-transform: uppercase;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cambio:hover{
    background-color: #0056b3;
    transform: scale(1.05);
}